<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin-left: 40%;" href="#">Airline Booking System</a>
      <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" (click)="showToggle($event)"  id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Options
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<ul class="dropdown-menu" *ngIf="isToggleVisible" aria-labelledby="navbarDropdown">
  <li><button (click)="bookedFlights()" class="dropdown-item">Previos Bookings</button></li>
  <li><button class="dropdown-item">Log Out</button></li>
</ul>
<router-outlet></router-outlet>